
@{
    ViewBag.Title = "AdminOnly";
}
<div class="well">
<h2>Restricted Access</h2>
Only administrators are allowed to delete registrated profiles.
@Html.ActionLink("Return to home page", "Index", "profiles")
</div>
