
@{
    ViewBag.Title = "notAuthorized";
}

<div class="well"
     <h2>You are not Authorized to Edit Profiles</h2>
    You may only edit your own data
    @Html.ActionLink("Return to home page", "Index", "profiles")
</div>
