@model IEnumerable<Team1CentricAplication.Models.Values>
@{
    var top = ViewBag.excellence;

}
<style>
    table {
        counter-reset: rowNumber;
    }

        table tr:not(:first-child) {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before {
            content: counter(rowNumber) ".";
            min-width: 1em;
            margin-right: 0.5em;
        }
</style>
<table class="table">
    <tr>
        <th>
            Nominee
        </th>
        <th>
            Nominator
        </th>
        <th>
            Date
        </th>
    </tr>

    @foreach (var item in top)
    {
        
<tr>
    <td>
        @item.AwardNominee.fullName
    </td>
    <td>
        @item.AwardNominator.fullName
    </td>
    <td>
        @item.recognizationDate
    </td>
</tr>
    
    }

</table>

