@model IEnumerable<Team1CentricAplication.Models.Profiles>
@{
    var top = ViewBag.innovate;

}

<table class="table">
    <tr>
        <th>
            Employee
        </th>
        <th>
            Number of Innovate Awards
        </th>
    </tr>

    @foreach (var item in top)
    {
        <tr>
            <td>
                @item.fullName
            </td>
            <td>
                @item.AwardRecipient.Count
            </td>
        </tr>
    }

</table>

