@model IEnumerable<Team1CentricAplication.Models.Profiles>
@{
    var top = ViewBag.integrity;

}

<table class="table">
    <tr>
        <th>
            Nominee
        </th>
        <th>
            Nominator
        </th>
        <th>
            Date
        </th>
    </tr>

    @foreach (var item in top)
    {

        <tr>
            <td>
                @item.AwardNominee.fullName
            </td>
            <td>
                @item.AwardNominator.fullName
            </td>
            <td>
                @item.recognizationDate
            </td>
        </tr>

    }

</table>

