@{
    ViewBag.Title = "About Centric Consulting";
}
<h2>@ViewBag.Title</h2>


<p>
    <ul>
        Centric Consulting has always done things a little differently. The company has grown our business on a set of three building blocks:

                    <li>Enjoy the people you work with, have fun, and do great work.</li>

       Not only do these blocks serve as their model for consulting, but they’ve created a culture that values team unity and collaboration. They enjoy working together, alongside you, to create personalized solutions for your business.
    </ul>
</p>
