@{
    ViewBag.Title = "Contact Centric Consulting";
}
<h2>@ViewBag.Title</h2>


<address>
    On Social Media:
    <ul>
        <li><a href="https://m.facebook.com/CentricConsultingNational">Facebook</a></li>
        <li><a href="https://twitter.com/centric">Twitter</a></li>
        <li><a href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQGB3NoXb5OSEgAAAXgFPjg4LgjbnGCTMiNzFDk-GB5aYussiqN-uUe0cw_pDYSJcSrV_0xG2wSCi5c6MXHH3eH6f0-H4ry_zRbJ_7A8SVhVn889oRyj5pxeHhwDwyiCkQCI9Lw=&originalReferer=https://centricconsulting.com/contact/&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fcentric-consulting%2F">LinkedIn</a></li>
        <li><a href="https://www.instagram.com/centricconsulting/">Instagram</a></li>
        <li><a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">YouTube</a></li>
    </ul>
</address>

