
<div class="panel panel-default">
    <div class="panel-heading"><h1>Visit Centric on all Platforms</h1></div>
    <div class="panel-body">
        <div class="btn-group-lg">
            <p><a href="https://m.facebook.com/CentricConsultingNational" class="btn btn-primary"> Facebook &raquo;</a></p>
            <p><a href="https://twitter.com/centric" class="btn btn-info"> Twitter &raquo;</a></p>
            <p><a href="https://www.instagram.com/centricconsulting/" class="btn btn-warning"> Instagram &raquo;</a></p>
            <p><a href="https://www.linkedin.com/company/centric-consulting" class="btn btn-primary"> LinkedIn &raquo;</a></p>
            <p><a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw" class="btn btn-danger"> YouTube &raquo;</a></p>
        </div>
    </div>
    </div>

   
