@{
    ViewBag.Title = "Centric Consulting";
}

<div class="jumbotron" style="background-color: orange">
    <h1 class="text-center text-capitalize">Centric Consulting</h1>
    <p class="lead text-center">Welcome to the Centric Consulting Employee Core Values Recognition Site!</p>
    <p class="text-right"><a href="https://centricconsulting.com/" class="btn btn-default btn-lg">View Centric Consultings Main Page &raquo;</a> </p>
</div>

<div class="panel panel-default">
    <h2 class="panel-heading">More Information About Centric</h2>
    <div class="panel-body">
    <div class="row">
    <div class="col-md-3">
        <h2 class="text-center">Business Consulting</h2>
        <p class="text-center">
            Together we transform your business from the people to the processes.
        </p>
        <p class="text-center"><a href="https://centricconsulting.com/business-consulting/" class="btn btn-default btn-group-sm"> To Learn More &raquo;</a></p>

    </div>
    <div class="col-md-3">
        <h2 class="text-center">Technological Service</h2>
        <p class="text-center">
            Together we plan, build and deliver technology to solve problems.
        </p>
        <p class="text-center"><a href="https://centricconsulting.com/technology-solutions/" class="btn btn-default btn-group-sm"> To Learn More &raquo;</a></p>

    </div>
    <div class="col-md-3">
        <h2 class="text-center">Digital Solutions</h2>
        <p class="text-center">
            Together we define your digital strategy and make marketing work.
        </p>
        <p class="text-center"><a href="https://centricconsulting.com/digital-consulting-services/" class="btn btn-default btn-group-sm"> To Learn More &raquo;</a></p>

    </div>
    <div class="col-md-3">
        <h2 class="text-center">Employee Recognition Board</h2>
        <p class="text-center">View latest updates in recognitions given and received by your peers and collegues!</p>

    </div>

</div></div>
</div>


