@{
    ViewBag.Title = "Centric Consulting";
}

<div class="jumbotron">
    <h1>Centric Consulting</h1>
    <p class="lead">Welcome to the Centric Consulting Employee Core Values Recognition Site!</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Centric Consulting &raquo;</a> </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2><a href="https://centricconsulting.com/business-consulting/">Business Consulting</a></h2>
        <p>
            Together we transform your business from the people to the processes.
        </p>

    </div>
    <div class="col-md-3">
        <h2><a href="https://centricconsulting.com/technology-solutions/">Technological Service</a></h2>
        <p>
            Together we plan, build and deliver technology to solve problems.
        </p>

    </div>
    <div class="col-md-3">
        <h2><a href="https://centricconsulting.com/digital-consulting-services/">Digital Solution</a> </h2>
        <p>
            Together we define your digital strategy and make marketing work.
        </p>

    </div>
    <div class="col-md-3">
        <h2>Employee Recognition Board</h2>
        <p>View latest updates in recognitions given and received by your peers and collegues!</p>

    </div>

</div>
