@{
    ViewBag.Title = "Centric Consulting";
}

<div class="jumbotron" style="background-color: orange">
    <h1 class="text-center text-capitalize">Centric Consulting</h1>
    <p class="lead text-center">Welcome to the Centric Consulting Employee Core Values Recognition Site!</p>
    <p class="text-right"><a href="https://centricconsulting.com/" class="btn btn-default btn-lg">View Centric Consultings Main Page &raquo;</a> </p>
</div>

<div class="panel panel-default">
    <h2 class="panel-heading">Centric Consulting Core Values</h2>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <p class="text-center">
                    <ul>
                        <li>Excellence</li>
                        <li>Integrity</li>
                        <li>Stewardship</li>
                        <li>Innovate</li>
                        <li>Balance</li>
                    </ul>
                </p>

            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <h2 class="panel-heading">Centric Consulting Core Values</h2>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <h2 class="text-center">Employee Recognition Board</h2>
                <p class="text-center">View latest updates in recognitions given and received by your peers and collegues!</p>

            </div>

        </div>
    </div>
</div>

<div class="panel panel-default">
    <h2 class="panel-heading">Centric Consulting Contact</h2>
    <div class="panel-body">
        <div class="btn-group-lg">
            <p><a href="https://m.facebook.com/CentricConsultingNational" class="btn btn-primary"> Facebook &raquo;</a>,<a href="https://twitter.com/centric" class="btn btn-info"> Twitter &raquo;</a>,<a href="https://www.instagram.com/centricconsulting/" class="btn btn-warning"> Instagram &raquo;</a>,<a href="https://www.linkedin.com/company/centric-consulting" class="btn btn-primary"> LinkedIn &raquo;</a>,<a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw" class="btn btn-danger"> YouTube &raquo;</a></p>
        </div>
    </div>
</div>